@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Metal&display=swap');
*{box-sizing:border-box}
html{
  min-height:100%;
  margin:0;
  padding:0;
}
header {
  margin:0;
  text-align:center;
  font-family:Cherry Swash;
  padding: 10px 10px 10px 30px;
  background-image: url(https://t3.ftcdn.net/jpg/06/05/74/02/360_F_605740294_G8mJrnxoGwN09DxQDtzEqIqUbKuhmRhJ.jpg);
background-size: 100% auto;
background-position: bottom;
background-repeat: no-repeat;
}
h1 {
margin:0;
color: antiquewhite;
text-shadow: 3px 3px 3px purple;
}
nav{ 
  text-align: center;
  font-size: 1.5rem;
  margin: 0; 
  background-color: #001233;
  font-family: Metal;
}
nav a{text-decoration:none;}

nav a:link       
{ color: #ffffff; }
nav a:visited 
{ color: #344873; }
nav a:hover     
{ color: #04052e; }
nav a { 
display: inline-block;
margin-left: 20px;
margin-right: 20px;  
}
nav ul{
  margin:0;
  list-style-type:none;
}
nav li{
  margin-left:10px;
  margin-right:10px;
  text-align:center;
}

body {
  min-height:100%;
  display:flex;
  flex-direction: column;
  box-sizing:inherit;
  margin:0;
  font-family: Cherry Swash ;
}
body{
  background-color: black;
  margin:0;
}
footer {
background-color: black; 
color: #FFFFFF;
text-align: center;
margin:0;
} 
img{
  float: right;
  padding: 10px;
}
main {
padding: 10px 20px;
  background-color:#eae0d5;
  height:100%;
  margin:0;
  margin:auto;
  width:80%;
  flex-grow:1;
}
.right{
  float:right;
  padding:2px;
  display: inline-block;
}
.navbar{
  display:flex;
  justify-content:center;
  align-items:center;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display:flex;
}
.navbar-links li a{
  display:block;
}

.toggle-button{
  position:absolute;
  top:.75rem;
  right:1rem;
  display:none;
  flex-direction:column;
  justify-content:space-between;
  width:30px;
  height:21px;
}

.toggle-button .bar{
  height:3px;
  width:100%;
  background-color:white;
  border-radius:10px;
  box-shadow:1px 1px midnightblue;
}

/* MEDIA QUERY FOR MOBILE */
@media (max-width: 450px) {
  .toggle-button {
    display: flex;
  }
  
  .navbar-links {
    display: none;
    width: 100%;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  
  .navbar-links ul li {
    text-align: center;
    /* ADDED THE bottom border to divide up the links */
    border-bottom: 1px solid #385773;
        
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
}

@media (max-width:450px) {
  p{
  text-align:center;
  margin:auto;
  width:80%;
  font-family: "Cherry Swash", sans-serif;
  }
  main{
    text-align:left;
    margin:auto;
  }
  header{
    padding:1em;
    margin:0;
  }
  .right{
    float:none;
  }
}
  
  @media (max-width:450px){
    nav{
      order:1;
    }
    header{
      order:2;
    }
    main{
      order:3;
      width:70%;
      text-align:center;
    }
    footer{
      order:4;
    }
    main{
      width:80%;
    }
    nav li{
      margin-left:0;
      margin-right:0;
      text-align:center;
      padding:.5rem 1rem 0;
    }
        img {
      width:250px;
      height:auto;
      padding: 0;
      float:none;
    }
}
